.smallBox {
  text-align: center;
}
.well {
  background-color: white;
  border: none;
  font-weight: bold;
}

.icon {
  width: 30px;
  height: 30px;
}

body {
  font-weight: bold;
}
h5 {
  font-weight: bold;
}
